<%- include('../partials/header') %>

<section class="container">
	<div class="posts">
		<a href="/main/new"><img src="/images/add-img.png"/></a>
	</div>
	<% pets.forEach(p => { %>
	<div class="posts">
		<% if (guest === false) { %> <% if (user.googleId === p.googleId) { %>
		<form
			class="delete"
			action="/main/<%= p._id %>?_method=DELETE"
			method="POST"
		>
			<button class="deleteBtn" type="submit">X</button>
		</form>
		<% } %> <% } %>
        <a href="/main/<%= p._id %>"><img src="<%= p.image %>" /></a>
        <div>
            <a href="/main/<%= p._id %>"><h1><%= p.pet %></h1></a>
        </div>
        
	</div>
	<% }); %>
</section>

<%- include('../partials/footer') %>
