<%- include('../partials/header') %>


<section class="container">
    <div class="posts">
        <a href="/main/new"><img src="/images/add-img.png"></a>
    </div>
	<% pets.forEach(p => { %>
	<div class="posts">
		<a href="/main/<%= p._id %>"
			><img src="<%= p.image %>" />
			<h1><%= p.pet %></h1></a
		>
	</div>
	<% }); %>
</section>

<%- include('../partials/footer') %>
